<p>Editing user with ID({{ id }})</p>
<form action="/users/{{ id }}?_method=PUT" method="post">
    <label for="name">Name: </label><input type="text" name="name" value="{{ user.name }}"/>
    <label for="lastname">Last name: </label><input type="text" name="lastName" value="{{ user.lastName }}"/>
    <label for="oldPass">Old password: </label><input type="password" name="oldPass">
    <label for="newPass">New password: </label><input type="password" name="newPass">
    <input type="submit" value="Change" />
    <a href="/users/{{ id }}/?_method=DELETE">Remove User</a>
</form>