<p>Creating new user</p>
<form action="/users" method="POST">
    <label for="name">Name: </label><input type="text" name="name" />
    <label for="lastName">Last name: </label><input type="text" name="lastName" />
    <label for="pass">Password: </label><input type="password" name="pass" />
    <input type="submit" />
</form>