<p>Editing product with ID({{id}})</p>
<form action="/products/{{id}}?_method=PUT" method="post">
    <label for="name">Name: </label><input type="text" name="name" value="{{name}}"/>
    <label for="price">Price: </label><input type="number" name="price" value="{{price}}"/>
    <label for="color">Color: </label><input type="color" name="color" value="{{color}}"/>
    <input type="submit" value="Update" />
    <a href="/products/{{id}}?_method=DELETE">DELETE</a>
</form>