<p>Creating new Product</p>
<form action="/products" method="POST">
    <label for="name">Name: </label><input type="text" name="name" />
    <label for="price">Price: </label><input type="number" name="price" />
    <label for="color">Color: </label><input type="color" name="color" />
    <input type="submit" />
</form>